* {
 
    box-sizing: border-box;
}

 body{
    padding-top: 10px;
    font-family: Arial, sans-serif;
    color: #FEF3E2;
    min-height: 100vh;
    background: url(/photos/image.png) no-repeat center center/cover; 
 }
